<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Remember Team">
        <meta name="copyright" content="Remember">
        <meta name="description" content="Interfaz de administración de usuarios">
        <meta name="keywords" content="Administrador, notas, Remember">
        <link rel="shortcut icon" href="/static/images/logoV.png" type="image/x-icon">
        <title>Remember - Administrador</title>
        <link rel="stylesheet" href="/static/css/administrador.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    </head>

    <body>
        <div class="notes">
            <!--SIDEBAR-------------------------------------------------->
            <div class="notes__sidebar">
                <div class="user">
                    <%if(usuario.fotoPerfil){%>
                        <img class="user-avatar" src="/static/profiles/<%=usuario.fotoPerfil%>"/>
                    <%}else{%>
                        <img class="user-avatar" src="/static/images/notas/usuario-icono.png"/>
                    <%}%>
                </div>
                <div class="tools">
                    <button class="closeIcon">
                        <i class="ri-close-line"></i>
                    </button>
                    <div class="tool">
                        <a href="../"><i class="ri-home-line"></i>
                            <p class="tool-name">Ir a inicio</p>
                        </a>
                    </div>
                    <div class="tool">
                        <a href="/users/Notas"><i class="ri-booklet-line"></i>
                            <p class="tool-name">Ver notas</p>
                        </a>
                    </div>
                    <div class="tool">
                        <a href="/users/Cerrar-Sesion"><i class="ri-door-open-line"></i>
                            <p class="tool-name">Cerrar sesión</p>
                        </a>
                    </div>
                </div>
                <button class="hamburger menuIcon">
                    <i class="ri-menu-line"></i>
                </button>
                <div class="widget">
                    <div class="fecha">
                        <p id="diaSemana" class="diaSemana"></p>
                        <p id="dia" class="dia"></p>
                        <p>de </p>
                        <p id="mes" class="mes"></p>
                        <p>del </p>
                        <p id="year" class="year"></p>
                    </div>
                    <div class="reloj">
                        <p id="horas" class="horas"></p>
                        <p>:</p>
                        <p id="minutos" class="minutos"></p>
                        <p>:</p>
                        <div class="caja-segundos">
                            <p class="ampm" id="ampm"></p>
                            <p class="segundos" id="segundos"></p>
                        </div>
                    </div>
                </div>
            </div>

            <!--TABLAS---------------------------------------------------->
            <div id="app-admin">
                <h1>Bienvenido <%=usuario.usuario%></h1>
                <div class="administrator">
                    <div class="table-container">
                        <h2>Usuarios Activos</h2>
                        <div class="table-scroll">
                            <table class="content-table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>NOMBRE</th>
                                        <th>USUARIO</th>
                                        <th>E-MAIL</th>
                                        <th>ROL</th>
                                        <th>CONTRASEÑA</th>
                                        <th>ACCIONES</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% datos.forEach((dato) => {%>
                                    <tr style="cursor: pointer;" data-href="/users/Edit/<%=dato.idUser%>">
                                        <td><%=dato.idUser%></td>
                                        <td><%=dato.nombre%></td>
                                        <td><%=dato.usuario%></td>
                                        <td><%=dato.email%></td>
                                        <%if(dato.rol==1){%>
                                        <td>Administrador</td>
                                        <%}else{%>
                                        <td>Usuario</td>
                                        <%}%>
                                        <td><%=dato.password%></td>
                                        <td>
                                            <a style="color: red;" href="/users/Delete/<%=dato.idUser%>">BORRAR</a>
                                            <a style="color: red;" href="/users/Baja/<%=dato.idUser%>">DAR DE BAJA</a>
                                        </td>
                                    </tr>
                                    <%})%>
                                </tbody>
                            </table>
                            <br><br>
                            <h2>Usuarios Suspendidos</h2>
                            <table class="content-table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>NOMBRE</th>
                                        <th>USUARIO</th>
                                        <th>E-MAIL</th>
                                        <th>ROL</th>
                                        <th>CONTRASEÑA</th>
                                        <th>ACCIONES</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <%if(bajas[0]==null){%>
                                    <tr style="cursor: pointer;">
                                        <td colspan="7">No hay datos</td>
                                    </tr>
                                    <%}else{%>
                                    <% bajas.forEach((baja) => {%>
                                    <tr style="cursor: pointer;" data-href="/users/Edit/<%=baja.idUser%>">
                                        <td><%=baja.idUser%></td>
                                        <td><%=baja.nombre%></td>
                                        <td><%=baja.usuario%></td>
                                        <td><%=baja.email%></td>
                                        <%if(baja.rol==1){%>
                                        <td>Administrador</td>
                                        <%}else{%>
                                        <td>Usuario</td>
                                        <%}%>
                                        <td><%=baja.password%></td>
                                        <td><a style="color: red;" href="/users/Delete/<%=baja.idUser%>">BORRAR</a>
                                            <a style="color: green;" href="/users/Activar/<%=baja.idUser%>">ACTIVAR</a>
                                        </td>
                                    </tr>
                                    <%})}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="admin-tools">
                    <a href="../../SignIn" class="admin-btn">Añadir Usuario</a>
                </div>
            </div>
        </div>
        <script src="/static/js/reloj.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const rows = document.querySelectorAll("tr[data-href]");
                rows.forEach(row => {
                    row.addEventListener("click", () => {
                        window.location.href = row.dataset.href;
                    });
                });
            });
        </script>
    </body>

</html>